{% load static %}
<!--Header-->
{% include "header.html" with title="Login" %}
    <!--Body-->
    <body>
        <!--Background-->
        {% include "registration/background.html" %}
        {% include "feedback.html" %}

        <!--Login Card-->
        <div class="login-content">
            <div class="login-card">
                <h1 style="color: white; text-align: center">Accès refusé</h1>
                <h4 style="color: white; text-align: center">Tu n'as pas accès à cette page.</h4>
            </div>
        </div>
    </body>
</html>