{% load static %}
<!--Sidenav-->
<div class="sidenav-container">
    <nav class="sidenav">
        <div class="sidenav-first-link">
            <a href=""><img src="{% static 'assets/img/logo.png' %}" class="logo" alt=""></a>
            <div class="toggle "><i class="fas fa-bars "></i></div>
        </div>
        <div class="sidenav-links">
            <a href="{% url 'news:posts' %}" class="sidenav-link {% if active_link == 'news' %} active {% endif %}"><i class="fas fa-newspaper "></i></a>
            <a href="{% url 'social:index_users' %}" class="sidenav-link {% if active_link  == 'users' %} active {% endif %}"><i class="fas fa-user-graduate "></i></a>
            <a href="{% url 'social:club_index' %}" class="sidenav-link {% if active_link == 'clubs' %} active {% endif %}"><i class="fas fa-gamepad "></i></a>
            <a href="{% url 'page_not_created' %}" class="sidenav-link {% if active_link == 'resources' %} active {% endif %}"><i class="fas fa-file-alt "></i></a>
            <a href="{% url 'social:profile' %}" class="sidenav-link {% if active_link == 'profile' %} active {% endif %}"><i class="fas fa-address-card "></i></a>
            <a href="{% url 'social:profile_edit' %}" class="sidenav-link {% if active_link == 'admin' %} active {% endif %}"><i class="fas fa-user-edit "></i></a>
        </div>
        <a href="{% url 'logout' %}" class="sidenav-last-link sidenav-link {% if active_link == 'log-out' %} active {% endif %}"><i class="fas fa-sign-out-alt "></i></a>
    </nav>
</div>