{% load static %}
<!--Header-->
{% if club.nickname %}{% include "header.html" with title=club.nickname%}{% else %}{% include "header.html" with
    title=club.name %}{% endif %}

<!--Body-->

<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="clubs" %}

    <!--Content-->
    <div class="content">
        <div class="content-main">
            <div class="club-box">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="club-group-image-container">
                        {% if club.background_picture %}
                            <img class="club-group-image" src={{club.background_picture.url}} alt="">
                        {% else %}
                            <img class="club-group-image" src="{% static 'assets/img/equipe.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="row">
                        {% csrf_token %}
                        {{ EditClub.non_field_errors }}
                        <div class="col-lg-4">
                            <div class="club-image">
                                {% if club.logo %}
                                    <img class="image-centered" src={{club.logo.url}} alt="">
                                {% else %}
                                    <img class="image-centered" src="{% static 'assets/img/logo_default.png' %}" alt="">
                                {% endif %}
                            </div>
                        </div>
                        <!--Column-->
                        <div class="col-lg-8">
                            <div class="club-title">{{club.name}}{% if club.nickname %} - ({{club.nickname}}){% endif %}
                            </div>
                        </div>
                        <!--End of Column-->
                    </div>
                    <h5 class="section-title text-bold">Paramètres généraux</h5>
                    <div class="row border-bottom mt-2">
                        <div class="col-lg-6">
                            Nom du club:<br>
                            {{ EditClub.name.errors }}
                            {{ EditClub.name }}
                            <br>
                            Surnom du club : <br>
                            {{ EditClub.nickname.errors }}
                            {{ EditClub.nickname }}
                            <br>
                            Description du club : <br>
                            {{ EditClub.description.errors }}
                            {{ EditClub.description }}
                            <p>Tu peux écrire en markdown, rends toi <a href="{% url 'news:markdown' %}">ici</a> pour en
                                savoir plus.</p>
                            <br>
                            Modifier la photo d'arrière plan du club :<br>
                            {{ EditClub.background_picture }}
                            <br>
                            Modifier le logo du club :<br>
                            {{ EditClub.logo }}
                        </div>
                        <div class="col-lg-6">
                            Le club est actif :
                            {{ EditClub.active.errors }}
                            {{ EditClub.active }}
                            <br><br>
                            Le club a une cotisation :
                            {{ EditClub.has_fee.errors }}
                            {{ EditClub.has_fee }}
                            <br><br>
                            Modifier les catégories du club :
                            {{ EditClub.category.errors }}
                            {{ EditClub.category }}
                        </div>
                        <div style="text-align: center;">
                            <button class="button red-button" type="submit" name="Annuler">Annuler</button>
                            <button class="button green-button" type="submit" name="Valider">Valider</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title text-bold mt-4">Ajouter un membre</h5>
                <div class="row" style="margin-top: 1rem;">
                    <div class="row">
                        <div class="col-lg-6">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{AddMember.non_field_errors}}
                                <strong style="color:red">{{error}}</strong>

                                Elève :
                                {{AddMember.student.errors}}
                                <div id="adding_student" style="margin-top: 1rem;"></div>

                                <br>
                                Rôle : <br>
                                {{AddMember.role.errors}}
                                <div id="adding_role" style="margin-top: 1rem;"></div>
                                <br>
                                Administrateur du club sur uPont
                                {{AddMember.is_admin.errors}}
                                {{AddMember.is_admin}}
                                <br>
                                <button class="button green-button" type="submit" name="Ajouter-Membre">Ajouter ce
                                    membre au club</button>
                            </form>
                            <br>
                        </div>
                        <div class="col-lg-6">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                Créez un rôle si aucun ne vous convient : <br>
                                {{AddRole.name.errors}}
                                {{AddRole.name}}
                                <button class="button green-button" type="submit" name="Ajouter-Role">Créer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <h5 class="section-title text-bold mt-2">Gestion des membres actifs</h5>
                {% if all_active_club_memberships %}
                    <div class="row">
                        {% for membership in all_active_club_memberships %}
                            <div class="col-xxl-2 col-xxl-3 col-lg-4">
                                <div class="user-card">
                                    <div class="user-image"><img
                                        src="{% if membership.student.picture %}{{membership.student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}"
                                        alt=""></div>
                                    <div class="user-information">
                                        <span class="user-name">{{membership.student.user.first_name}}
                                            {{membership.student.user.last_name}}</span>
                                        <span>{{membership.role}}</span>
                                        {% if membership.is_admin %}
                                            <span>(admin)</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="centered-div">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{membership.student.id}}" name="student_id">
                                        <input class="button blue-button" type="submit" name="Vieux" value="Inactif">
                                        <input class="button red-button" type="submit" name="Supprimer" value="Supprimer">
                                    </form>
                                </div>
                                <br><br>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if all_old_club_memberships %}
                    <h5 class="section-title text-bold mt-2">Gestion des membres inactifs</h5>
                    {% for promo,members in all_old_club_memberships.items %}
                        <h6 class="text-bold mt-4">Promo {{promo}}' :</h6>
                        <div class="row">
                            {% for membership in members %}
                                <div class="col-xxl-2 col-xxl-3 col-lg-4">
                                    <div class="user-card">
                                        <div class="user-image"><img
                                            src="{% if membership.student.picture %}{{membership.student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}"
                                            alt=""></div>
                                        <div class="user-information">
                                            <span class="user-name">{{membership.student.user.first_name}}
                                                {{membership.student.user.last_name}}</span>
                                            <span>{{membership.role}}</span>
                                            {% if membership.is_admin %}
                                                <span>(admin)</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="centered-div">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{membership.student.id}}" name="student_id">
                                            <input class="button blue-button" type="submit" name="Actif" value="Actif">
                                            <input class="button red-button" type="submit" name="Supprimer" value="Supprimer">
                                        </form>
                                    </div>
                                    <br><br>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--EndContent-->

    <!--Scripts-->
    <script src="{% static 'react/adding_members.bundle.js' %}"></script>
    <script src="{% static 'js/sidenav.js' %}"></script>
</body>

</html>
