{% load static %}
<!--Header-->
{% include "header.html" with title="Demande de création d'un club" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="clubs" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">Demande d'ajout de club</h3>

            <!--Box-->
            <div class="box small-box">

                <!--Form-->
                <form action="" method="POST" class="centered-div">

                    {% csrf_token %}

                    <div class="input-title">Nom du club :</div>
                    {{ ClubRequest.name.errors }}
                    {{ ClubRequest.name }}

                    <div class="input-title mb-2">Décris rapidement le club et motive ta demande :</div>
                    {{ ClubRequest.content.errors }}
                    {{ ClubRequest.content }}

                    <div class="centered-div">
                        <a href="{% url 'social:club_index' %}"><span class="button red-button">Annuler</span></a>
                        <button class="button green-button" type="submit" name="Valider">Valider</button>
                    </div>

                </form><!--End of Form-->

            </div><!--End of Box-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->

</html><!--End of Document-->
