{% load static %}
<!doctype html>
<html>
    <!--Header-->
    <head>
        <meta charset='utf-8'>
        <title>{% if title %}{{title}}{% else %}Pas de titre{% endif %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link  rel="stylesheet" href="{% static 'tellme/vendor/feedback/feedback.css' %}">
        <script src="https://kit.fontawesome.com/e89ead331b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {%  include 'tellme/js_inc.html' %}
        <button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
            Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        </button>
