{% load static %}
<!--Header-->
{% include "header.html" with title="Clubs" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="clubs" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        {% include "../social/searchbar.html" with all_clubs_list=all_clubs_list %}

        <!--Main Content-->
        <div class="content-main">

            <!--Row-->
            <div class="row">

                <!--Column-->
                <div class="col-clublg-8">

                    <h4 class="page-title">
                        {% if searched_expression %}
                            Résultats de la recherche "{{searched_expression}}"
                        {% else %}
                            Clubs & Assos
                        {% endif %}
                    </h4>

                    {% if club_displayed_list %}
                        <!--Row-->
                        <div class="row">

                            {% for club in club_displayed_list %}
                                <!--Column-->
                                <div class="col-clubmd-4 col-clubsm-6">
                                    <div class="club-card">
                                        <div class="club-card-content">
                                            <img class="club-card-image" src="{% if club.logo %}{{club.logo.url}}{% else %}{% static 'assets/img/logo_default.png' %}{% endif %}" alt="">
                                        </div>
                                        <div class="club-card-title"><span>{{club.name}} <br> {% if club.nickname %} ({{club.nickname}}) {% endif %}</span></div>
                                        <a href="{% url 'social:club_detail' club.id %}" class="stretched-link"></a>
                                    </div>
                                </div><!--End of Column-->
                            {% endfor %}

                            <div class="col-clubmd-4 col-clubsm-6">
                                <div class="club-card">
                                    <div class="club-card-content"><i class="fas fa-plus-circle fa-5x"></i></div>
                                    <div class="club-card-title"><span>Demander la création <br> d'un club</span></div>
                                    <a href="{% url 'social:club_request' %}" class="stretched-link"></a>
                                </div>
                            </div>

                        </div><!--End of Row-->
                    {% else %}
                        {% if searched_expression %}
                            <div class="text-bold text-center mt-2">Aucun club n'a été trouvé</div>
                        {% else %}
                            <div class="text-bold text-center mt-2">Il n'y a pas de clubs dans la base de données.</div>
                        {% endif %}
                    {% endif %}


                </div><!--End of Column-->

                <!--Column-->
                <div class="col-clublg-4">

                    <h4 class="page-title">Mes clubs & assos</h4>

                    <!--Row-->
                    <div class="row">

                        {% if my_memberships_list %}
                            {% for membership in my_memberships_list %}
                                <!--Column-->
                                <div class="col-12">
                                    <div class="vignette-club-mini">
                                        <img class="vignette-image-mini" src="{% if membership.club.logo %}{{membership.club.logo.url}}{% else %}{% static 'assets/img/logo_default.png' %}{% endif %}" alt="">
                                        <div class="vignette-mini-title">
                                            <span>{{membership.club.name}}</span>
                                            <span class="vignette-mini-role"><br>{{membership.role}}</span>
                                        </div>
                                        <a href="{% url 'social:club_detail' membership.club.id %}" class="stretched-link"></a>
                                    </div>
                                </div><!--End of Column-->
                            {% endfor %}
                        {% else %}
                            <div class="text-bold text-center mt-2">Tu n'es membre d'aucun club pour l'instant.</div>
                        {% endif %}

                    </div><!--End of Row-->

                </div><!--Column-->

            </div><!--End of Row-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->

</html><!--End of Document-->
