{% load static %}
<!--Header-->
{% include "header.html" with title="Élèves" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="users" %}

    <!--Content-->
    <div class="content">
        {% include "../social/searchbar.html" with all_student_list=all_student_list %}
        <div class="content-main">
            <h3 class="page-title">
                {% if searched_expression %}
                    Résultats de la recherche "{{searched_expression}}"
                {% else %}
                    Élèves
                {% endif %}
            </h3>
            {% if display_students_with_react %}
                <div id="students">
                    <!--  Students are rendered with React  -->
                </div>
            {% else %}
                {% if student_displayed_list %}
                    <div class="row">
                        {% for student in student_displayed_list %}
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="{% if student.picture %}{{student.picture.url}}{% else %}https://i.imgur.com/hczKIze.jpg{% endif %}" alt="">
                                    </div>
                                    <div class="user-information">
                                        <span class="user-name">{{student.user.first_name}} {{student.user.last_name}}</span>
                                        <span>{{student.department}} - Promo '{{student.promo.nickname}}</span>
                                    </div>
                                    <a href="{% url 'social:profile_viewed' student.user.id %}" class="stretched-link"></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if searched_expression %}
                        <p>Aucun élève n'a été trouvé</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <!--EndContent-->

        <!--Scripts-->
        <script>
            window.react_mount = document.getElementById('students');
        </script>
        <script src="{% static 'react/IndexUsers.bundle.js' %}"></script>
        <script src="{% static 'js/sidenav.js' %}"></script>
    </body>
</html>
