{% load static %}
<!--Header-->
{% include "header.html" with title="Élèves" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="users" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        {% include "../social/searchbar.html" with all_student_list=all_student_list %}

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">
                {% if searched_expression %}
                    Résultats de la recherche "{{searched_expression}}"
                {% else %}
                    Élèves
                {% endif %}
            </h3>
            {% if display_students_with_react %}
                <div id="students">
                    <!--  Students are rendered with React  -->
                </div>
            {% else %}
                {% if student_displayed_list %}
                    <!--Row-->
                    <div class="row">
                        {% for student in student_displayed_list %}
                            <!--Column-->
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
                                <div class="user-card">
                                    <div class="user-image">
                                        <img class="image-centered" src="{% if student.picture %}{{student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}" alt="">
                                    </div>
                                    <div class="user-information">
                                        <span class="user-name">{{student.user.first_name}} {{student.user.last_name}}</span>
                                        <span>{{student.department}} - Promo '{{student.promo.nickname}}</span>
                                    </div>
                                    <a href="{% url 'social:profile_viewed' student.user.id %}" class="stretched-link"></a>
                                </div>
                            </div><!--End of Column-->
                        {% endfor %}
                    </div><!--End of Row-->
                {% else %}
                    {% if searched_expression %}
                        <h5 class="section-title mt-1">Aucun élève n'a été trouvé</h5>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div><!--End of Main Content-->

    </div><!--End of Content-->

    <!--Scripts-->
    <script src="{% url 'reverse_js' %}" type="text/javascript"></script> <!--Put this script before any react script to be able to reverse django urls in react-->
    <script>
        window.react_mount = document.getElementById('students');
    </script>
    <script src="{% static 'react/index_users.bundle.js' %}"></script>
</body><!--End of Body-->
</html><!--End of Document-->
