{% load static %}
<!--Header-->
{% include "header.html" %}
<!--Sidenav-->
{% include "../social/sidenav.html" %}

        <!--Content-->
        <div class="content">
            <div class="content-header">
                <div class="row justify-content-between w-100">
                    <div class="col">
                        <div class="search-input-group">
                            <input type="text" class="search-input" placeholder="Rechercher">
                            <button class="button search-button"><i class="fas fa-search "></i></button>
                        </div>
                    </div>
                    <!--<div class="col" style="text-align: end;">
                        <button class="button"><i class="fas fa-bell"></i></button>
                        <button class="button"><i class="fas fa-bell"></i></button>
                    </div>-->
                </div>
            </div>
            <div class="content-main">
                <div class="box profil-box">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="profil-image"><img src="{% static 'assets/img/user.jpeg' %}" alt=""></div>
                                </div>
                                <div class="col-lg-7" style="text-align: center;">
                                    <div class="section-title">Mes informations personnelles</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5" style="text-align: center;">
                                    <input class="profil-input" type="text" placeholder="Prénom">
                                    <input class="profil-input" type="text" placeholder="Téléphone">
                                </div>
                                <div class="col-lg-7" style="text-align: center;">
                                    <input class="profil-input" type="text" placeholder="Nom">
                                    <input class="profil-input" type="text" placeholder="Département">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" style="border-left: solid hsla(0, 0%, 100%, 0.25) 0.25px;">
                            <div class="section-title">Mes activités associatives</div>
                            <div class="user-card">
                                <div class="user-image"><img src="{% static 'assets/img/user.jpeg' %}" alt=""></div>
                                <div class="user-information"><span class="user-name">Maïmone David NAHMIAS</span> <span>SEGF - Promo '023</span></div>
                            </div>
                            <div class="user-card">
                                <div class="user-image"><img src="{% static 'assets/img/user.jpeg' %}" alt=""></div>
                                <div class="user-information"><span class="user-name">Maïmone David NAHMIAS</span> <span>SEGF - Promo '023</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--EndContent-->

        <!--Scripts-->
        <script src="{% static 'js/sidenav.js' %}"></script>
        <!--EndScripts-->

    </body>
</html>