{% load static %}
<!--Header-->
{% include "header.html" with title=complete_name %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="profile" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <!--Row-->
            <div class="row">

                <!--Column-->
                <div class="col-lg-4">

                    <!--Box-->
                    <div class="box profil-box">

                        <div class="profil-image">
                            <img class="image-centered" src="{% if student.picture %}{{student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}" alt="">
                        </div>
                        <h5 class="section-title">{{student.user.first_name}} {{student.user.last_name}}</h5>
                        {% if student.phone_number is not None %}
                            <div class="profil-information-box">{{student.phone_number}}</div>
                        {% else %}
                            <div class="profil-information-box">{{student.user.first_name}} n'a pas renseigné son numéro</div>
                        {% endif %}
                        <div class="profil-information-box">{{student.department}}</div>
                        <div class="profil-information-box">{{student.origin}}</div>

                    </div><!--End of Box-->

                </div><!--End of Column-->

                <!--Column-->
                <div class="col-lg-8">

                    <h4 class="page-title">Dernières activités</h4>

                    {% if membership_club_list %}
                        <!--Row-->
                        <div class="row">

                            {% for membership in membership_club_list %}
                                <!--Column-->
                                <div class="col-clublg-6">

                                    <div class="vignette-club-mini">
                                        <img class="vignette-image-mini" src="{% if membership.club.logo %}{{membership.club.logo.url}}{% else %}{% static 'assets/img/logo_default.png' %}{% endif %}" alt="">
                                        <div class="vignette-mini-title">
                                            <span class="user-name">{{membership.club.name}} {% if membership.club.nickname %}({{membership.club.nickname}}){% endif %}</span>
                                            <span>{{membership.role.name}}</span>
                                            <a href="{% url 'social:club_detail' membership.club.id %}" class="stretched-link"></a>
                                        </div>
                                    </div>

                                </div><!--End of Column-->
                            {% endfor %}

                        </div><!--End of Row-->
                    {% else %}
                        <!--Box-->
                        <div class="box small-box">
                            <h5 class="section-title text-center mt-2">{{student.user.first_name}} n'est membre d'aucun club</h5>
                        </div><!--End of Box-->
                    {% endif %}


                </div><!--End of Column-->

            </div><!--End of Row-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->

</html><!--End of Document-->
