{% load static %}
<!--Header-->
{% include "header.html" with title="Édition du profil" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="profile" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <!--Box-->
            <div class="box profil-box">

                <!--Row-->
                <div class="row">

                    <!--Column-->
                    <div class="col-lg-8">

                        <!--Row-->
                        <div class="row">

                            <!--Column-->
                            <div class="col-lg-5">
                                <div class="profil-image">
                                    <img class="image-centered" src="{% if student.picture %}{{student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}" alt="">
                                </div>
                            </div><!--End of Column-->

                            <!--Column-->
                            <div class="col-lg-7 centered-div">
                                <h5 class="section-title">Mes informations personnelles</h5>
                            </div><!--End of Column-->

                        </div><!--End of Row-->

                        <!--Form-->
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ EditProfile.non_field_errors }}

                            <!--Row-->
                            <div class="row">

                                <!--Column-->
                                <div class="col-lg-5 centered-div">
                                    <div class="profil-information-box">{% if student.user.first_name %}{{student.user.first_name}}{% else %}---Prénom---{% endif %}</div>
                                    {{ EditProfile.phone_number.errors }}
                                    {{ EditProfile.phone_number }}
                                    {{ EditProfile.gender.errors }}
                                    {{ EditProfile.gender }}
                                </div><!--End of Column-->

                                <!--Column-->
                                <div class="col-lg-7 centered-div">
                                    <div class="profil-information-box">{% if student.user.last_name %}{{student.user.last_name}}{% else %}---Nom---{% endif %}</div>
                                    {{ EditProfile.department.errors }}
                                    {{ EditProfile.department }}
                                    {{ EditProfile.picture }}
                                    <div class="centered-div">
                                        <input class="button green-button" type="submit" name= "Valider" value="Valider">
                                        <input class="button red-button" type="submit" name="Annuler" value="Annuler">
                                    </div>
                                </div><!--End of Column-->

                            </div><!--End of Row-->

                        </form><!--End of Form-->

                    </div><!--End of Column-->

                    <!--Column-->
                    <div class="col-lg-4">

                        <h5 class="section-title">Mes activités associatives</h5>

                        {% if membership_club_list %}
                            {% for membership in membership_club_list %}
                                <div class="user-card">
                                    <div class="user-image">
                                        <img src="{% if membership.club.logo %}{{membership.club.logo.url}}{% else %}https://i.imgur.com/hczKIze.jpg{% endif %}" alt="">
                                    </div>
                                    <div class="user-information">
                                        <span class="user-name">{{membership.club.name}} {% if membership.club.nickname %}{{membership.club.nickname}}{% endif %}</span>
                                        <span>{{membership.role.name}}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-bold text-center mt-2">Je ne suis pas membre d'un club.</div>
                        {% endif %}

                    </div><!--End of Column-->

                </div><!--End of Row-->

            </div><!--End of Box-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->

</html><!--End of Document-->

