{% load static %}
<!--Header-->
{% include "header.html" %}
<!--Sidenav-->
{% include "../social/sidenav.html" with active_link="profile" %}

        <!--Content-->
        <div class="content">
            <div class="content-main">
                <div class="box profil-box">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="profil-image"><img src="{% if student.picture %}{{student.picture.url}}{% else %}https://i.imgur.com/hczKIze.jpg{% endif %}" alt=""></div>
                                </div>
                                <div class="col-lg-7" style="text-align: center;">
                                    <div class="section-title">Mes informations personnelles</div>
                                </div>
                            </div>
                            <div class="row">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ EditProfile.non_field_errors }}
                                    <div class="col-lg-5" style="text-align: center;">
                                        <div class="profil-information-box">{{student.user.first_name}}</div>
                                        {{ EditProfile.phone_number.errors }}
                                        {{ EditProfile.phone_number }}
                                    </div>
                                    <div class="col-lg-7" style="text-align: center;">
                                        <div class="profil-information-box">{{student.user.last_name}}</div>
                                        {{ EditProfile.department.errors }}
                                        {{ EditProfile.department }}
                                        {{ EditProfile.picture }}
                                        <div style="text-align: center;">
                                            <input class="button red-button" type="submit" name="Annuler" value="Annuler">
                                            <input class="button green-button" type="submit" name= "Valider" value="Valider">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4" style="border-left: solid hsla(0, 0%, 100%, 0.25) 0.25px;">
                            <div class="section-title">Mes activités associatives</div>
                            {% if membership_club_list %}
                                {% for membership in membership_club_list %}
                                    <div class="user-card">
                                        <div class="user-image"><img src="{{membership.club.logo.url}}" alt=""></div>
                                        <div class="user-information"><span class="user-name">{{membership.club.name}} {% if membership.club.nickname %}{{membership.club.nickname}}{% endif %}</span> <span>{{membership.role.name}}</span></div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Je ne suis pas membre d'un club.</p> <!--TO DO : écrire ça bien-->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--EndContent-->

        <!--Scripts-->
        <script src="{% static 'js/sidenav.js' %}"></script>
        <!--EndScripts-->

    </body>
</html>

