<div class="content-header">
    <div class="row justify-content-between w-100">
        <div class="col">
            <div class="search-input-group">
                <datalist id="search-choices">
                    {% for student in all_student_list %}
                        <option value="{{student.user.first_name}} {{student.user.last_name}} {{student.department}} {{student.promo.nickname}}">{{student.user.first_name}} {{student.user.last_name}} - {{student.department}} - '{{student.promo.nickname}}</option>
                    {% endfor %}
                </datalist>
                <form>
                    <input name="search" type="text" list="search-choices" class="search-input" placeholder="Rechercher">
                    <button class="button search-button" type="submit" formaction="{% url 'social:search' %}"><i class="fas fa-search "></i></button>
                </form>
            </div>
        </div>
    </div>
</div>