{% load static %}
<!--Markdownify-->
{% load markdownify %}
<!--Header-->
{% include "header.html" with title="Nom du club" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="clubs" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <!--Club Box-->
            <div class="club-box">

                <div class="club-group-image-container">
                    <img src="{% if club.background_picture %}{{club.background_picture.url}}{% else %}{% endif %}" class="club-group-image" alt="">
                </div>

                <!--Row-->
                <div class="row">

                    <!--Column-->
                    <div class="col-lg-4">
                        <div class="club-image">
                            <img src="{% if club.logo %}{{club.logo.url}}{% else %}{% static 'assets/img/logo_default.png' %}{% endif %}" height="100%" width="100%" alt="">
                        </div>
                    </div><!--End of Column-->

                    <!--Column-->
                    <div class="col-lg-8">
                        <div class="club-title">{{club.name}}{% if club.nickname %} - ({{club.nickname}}){% endif %}</div>
                    </div><!--End of Column-->

                    <!--Column-->
                    <div class="col-12">

                        <h5 class="section-title text-bold mt-2">Description du club</h5>

                        <p class="text-thin text-justified mt-2" style="font-size: medium;">{{club.description|markdownify}}</p>

                        <h5 class="section-title text-bold mt-4">Membre du club :</h5>

                        {% if members %}
                            <!--End of Row-->
                            <div class="row" style="margin: 1rem -4rem;">

                                {% for membership in members %}
                                    <!--Column-->
                                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
                                        <div class="user-card">
                                            <div class="user-image">
                                                <img src="{% if membership.student.picture %}{{membership.student.picture.url}}{% else %}{% static 'assets/img/user_default.png' %}{% endif %}" alt="">
                                            </div>
                                            <div class="user-information">
                                                <span class="user-name">{{membership.student.user.first_name}} {{membership.student.user.last_name}}</span>
                                                <span>{{membership.role}}</span>
                                            </div>
                                        </div>
                                    </div><!--End of Column-->
                                {% endfor %}

                            </div><!--End of Row-->
                        {% else %}
                            <p class="text-thin text-center mt-2" style="font-size: medium;">
                                Ce club n'a pas de membres.. à toi de devenir le premier membre du club !
                            </p>
                        {% endif %}


                        <div class="centered-div">
                            <a href="{% url 'social:club_index' %}"><button class="button green-button">Retour à l'index</button></a>
                            {% if is_admin %}
                                <a href="{% url 'social:club_edit' club.id %}">
                                    <button class="button blue-button">Modifier les informations du club</button>
                                </a>
                            {% endif %}
                        </div>

                    </div><!--End of Column-->

                </div><!--End of Row-->

            </div><!--End of Club Bow-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->

</html><!--End of Document-->
