{% load static %}
<!--Header-->
{% include "header.html" with title="Modifier l'évènement" %}

<!--Body-->

<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">{% if Edit %}Éditer{% else %}Créer{% endif %} un évènement</h3>

            <!--News Card-->
            <div class="news-card">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="news-card-content">
                        <div class="centered-div">
                            {{EditEvent.name.errors}}
                            <div class="input-title">Nom de l'évènement :</div>
                            {{EditEvent.name}}

                            {{EditEvent.description.errors}}
                            <div class="input-title">Description de l'évènement :</div>
                            {{EditEvent.description}}<br><br>
                            <p>Tu peux écrire en markdown, clique <a href="{% url 'news:markdown' %}"
                                target="_blank">sur ce lien</a> pour en savoir plus.</p>
                            {{EditEvent.date.errors}}
                            <div class="input-title">Début de l'évènement :</div>
                            {{EditEvent.date}}

                            {{EditEvent.end.errors}}
                            <div class="input-title">Fin de l'évènement :</div>
                            {{EditEvent.end}}
                            <script>
                                // script to have pretty datetime picker
                                $(function () {
                                    dateField = $("#id_date");
                                    endField = $("#id_end");

                                    function endPicker(minDate) {
                                        endField.datetimepicker({
                                            format: 'd/m/Y H:i',
                                            minDate: minDate,
                                        });
                                    }

                                    dateField.datetimepicker({
                                        format: 'd/m/Y H:i',
                                        minDate: Date.now(),
                                        onChangeDateTime: (dp, $input) => endPicker(dp),
                                    });

                                    endPicker(Date.now());
                                });
                            </script>

                            {{EditEvent.location.errors}}
                            <div class="input-title">Où se déroule l'évènement :</div>
                            {{EditEvent.location}}

                            {{EditEvent.organizer.errors}}
                            <div class="input-title">Élève référent à contacter :</div>
                            {{EditEvent.organizer}}

                            {{EditEvent.isPrice.errors}}
                            <div class="input-title">L'évènement est-il payant ?</div>

                            <label for="isPrice_0">
                                <input
                                    type="radio"
                                    class="radio"
                                    name="isPrice"
                                    id="isPrice_0"
                                    value="True"
                                    {% if EditEvent.isPrice.value == True %}checked{% endif %}
                                /> Oui
                            </label>
                            <br>
                            <label for="isPrice_1">
                                <input
                                    type="radio"
                                    class="radio"
                                    name="isPrice"
                                    id="isPrice_1"
                                    value="False"
                                    {% if EditEvent.isPrice.value == False %}checked{% endif %}
                                /> Non
                            </label>
                            <script>
                                // Get the radio buttons
                                const radioButtons = document.querySelectorAll('input[name="isPrice"]');

                                // Add event listener to each radio button
                                radioButtons.forEach((radioButton) => {
                                    radioButton.addEventListener('change', () => {
                                        // Set the value of EditEvent.isPrice based on the selected radio button
                                        EditEvent.isPrice.value = radioButton.value;
                                    });
                                });
                            </script>

                            {{EditEvent.poster.errors}}
                            <div class="input-title">Ajouter/modifier une image :</div>
                            {{EditEvent.poster}}

                            {{EditEvent.club.errors}}
                            <div class="input-title">Club :</div>
                            {{EditEvent.club}}

                            {{EditEvent.isShotgun.errors}}
                            <div class="input-title">L'évènement est-il soumis à un shotgun ? (sur uPont ou non)</div>
                            <label for="isShotgun_0">
                                <input
                                    type="radio"
                                    class="radio"
                                    name="isShotgun"
                                    id="isShotgun_0"
                                    value="True"
                                    {% if EditEvent.isShotgun.value == True %}checked{% endif %}
                                /> Oui
                            </label>
                            <br>
                            <label for="isShotgun_1">
                                <input
                                    type="radio"
                                    class="radio"
                                    name="isShotgun"
                                    id="isShotgun_1"
                                    value="False"
                                    {% if EditEvent.isShotgun.value == False %}checked{% endif %}
                                /> Non
                            </label>

                            <script>
                                // Get the radio buttons
                                const radioButtons = document.querySelectorAll('input[name="isShotgun"]');

                                // Add event listener to each radio button
                                radioButtons.forEach((radioButton) => {
                                    radioButton.addEventListener('change', () => {
                                        // Set the value of EditEvent.isShotgun based on the selected radio button
                                        EditEvent.isShotgun.value = radioButton.value;
                                    });
                                });
                            </script>

                            {{EditEvent.shotgun.errors}}
                            <div class="input-title">Shotgun :</div>
                            {{EditEvent.shotgun}}


                        </div>
                    </div>
                    {% if event.poster %}
                        <div class="news-card-images">
                            <!--All-Images-Linked-With-The-Event-->
                            <div class="news-card-carousel">
                                <div class="carousel-cell">
                                    <img class="news-card_image_sized" src="{{event.poster.url}}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="centered-div">
                        <a
                            href="{% if event %}{% url 'news:event_detail' event.id %}{% else %}{% url 'news:events' %}{% endif %}"><button
                                type="button" class="button red-button">Annuler</button></a>
                        <button class="button green-button" type="submit" name="Valider">Valider</button>
                        {% if Edit %}
                            <button class="button red-button" type="submit" name="Supprimer">Supprimer l'event</button>
                        {% endif %}
                    </div>
                </form>

            </div><!--End of News Card-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->
</body><!--End of Body-->

</html><!--End of Document-->
