{% load static %}
<!--Header-->
{% include "header.html" with title="Évènements" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">

        <!--Header Content
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">Évènements</h3>

            <!--News Navigation-->
            {% include "../news/newsnav.html" %}
            <!--End of News Navigation-->

            <div class="centered-div mt-2">
                <a href="{% url 'news:post_create' %}">
                    <button class="button blue-button "><i class="fas fa-plus-circle fa-2x logo-button"></i>Ajouter un évènement</button>
                </a>                
            </div>

            {% for event in all_events_list %}
                <!--News Card-->
                <div class="news-card">
                    <div class="news-card-header">
                        <div class="news-card-header-image">
                            <img class="image-centered" src="{% if event.club.logo %}{{event.club.logo.url}}{% else %}{% static 'assets/img/logo_default.png' %}{% endif %}" alt="">
                        </div>
                        <div class="news-card-header-text">
                            <span class="news-card-header-name">{{event.club.name}}</span>
                            <span class="news-card-header-title">{{event.name}}</span>
                        </div>
                    </div>
                    <div class="news-card-content">
                        <ul>
                            <li><div class="text-bold mt-1">Date de l'évènement : <strong class="text-thin">{{event.date}}</strong></div></li>
                            <li><div class="text-bold mt-1">Où se déroulera l'évènement ? <strong class="text-thin">{{event.location}}</strong></div></li>
                        </ul>
                    </div>
                    <div class="news-card-actions">
                        <div class="news-card-popularity">
                            <span><i class="fas fa-users" style="color: red;"></i>
                                {% if event.shotgun %}
                                    {% if event.shotgun.requires_motivation and not event.shotgun.motivations_review_finished %}
                                        0
                                    {% else %}
                                        {{event.shotgun.accepted_participations.count}}
                                    {% endif %}
                                {% else %}
                                    {{event.participants.count}}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="centered-div">
                        <a href="{% url 'news:event_detail' event.pk %}"><button class="button green-button">Voir plus</button></a>
                    </div>
                </div><!--End of News Card-->
            {% endfor %}

        </div><!--End of Main Content-->

    </div><!--End of Content-->
</body><!--End of Body-->
</html><!--End of Document-->
