{% load static %}
<!--Header-->
{% include "header.html" with title="Évènements" %}

    <!--Body-->
    <body>
        <!--Feedback Button-->
        {% include "feedback.html" %}

        <!--Sidenav-->
        {% include "sidenav.html" with active_link="news" %}

        <!--Content-->
        <div class="content">
            <div class="content-header">
                <div class="row justify-content-between w-100">
                    <div class="col">
                        <div class="search-input-group">
                            <input type="text" class="search-input" placeholder="Rechercher">
                            <button class="button search-button"><i class="fas fa-search "></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <h3 class="page-title">News : Events</h3>

                <!--Navigation-->
                {% include "../news/newsnav.html" %}

                <div class="mt-2" style="text-align:center">
                    <a href="{% url 'news:event_create' %}"><i class="fas fa-plus-circle fa-5x"></i></a>
                </div>

                {% for event in all_events_list %}
                <div class="news-card">
                    <div class="news-card-header">
                        <!--Poster-Image-Name-and-Title-of-the-post-->
                        <div class="news-card-header-image"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>
                        <div class="news-card-header-text">
                            <span class="news-card-header-name">{{event.club}}</span>
                            <span class="news-card-header-title">{{event.name}}</span>
                        </div>
                    </div>
                    <div class="news-card-content">
                        <p style="margin: 0;"><strong>Date de l'évènement :</strong> {{event.date}}</p>
                        <p style="margin: 0;"><strong>Où ?</strong> {{event.location}}</p>
                    </div>
                    <div class="news-card-actions">
                        <!--Likes-Comments-Favorite-->
                        <div class="news-card-popularity">
                            <span><i class="fas fa-users" style="color: red;"></i> {{event.participants.count}} </span>
                        </div>
                    </div>
                    <div class="news-card-actions">
                        <!--Likes-Comments-Favorite-->
                        <div class="centered-div">
                            <a href="{% url 'news:event_detail' event.pk %}" class="button green-button">Voir plus</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>