{% load static %}
<!DOCTYPE html>
<html>
    <!--Header-->
    <head>
        <!--Meta-->
        <meta charset='utf-8'>
        <meta name="description" content="uPont est l'intranet étudiant de l'École des Ponts ParisTech">
        <meta name="keywords" content="">
        <meta name="author" content="Bastien Le Chenadec, Louis Boilly, Thomas Buiron, Theilo Terisse, David Nahmias">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Title-->
        <title>Index</title>

        <!--Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}">

        <!--Styles-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/flickity.css' %}">

        <!--Icons-->
        <script src="https://kit.fontawesome.com/e89ead331b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--Sidenav-->
        <div class="sidenav-container">
            <nav class="sidenav">
                <div class="sidenav-first-link">
                    <a href=""><img src="{% static 'assets/img/logo.png' %}" class="logo" alt=""></a>
                    <div class="toggle "><i class="fas fa-bars "></i></div>
                </div>
                <div class="sidenav-links">
                    <a href="#" class="sidenav-link {% if active_link == 'news' %} active {% endif %}"><i class="fas fa-newspaper "></i></a>
                    <a href="/social/index_users" class="sidenav-link {% if active_link  == 'users' %} active {% endif %}"><i class="fas fa-user-graduate "></i></a>
                    <a href="#" class="sidenav-link {% if active_link == 'clubs' %} active {% endif %}"><i class="fas fa-gamepad "></i></a>
                    <a href="#" class="sidenav-link {% if active_link == 'resources' %} active {% endif %}"><i class="fas fa-file-alt "></i></a>
                    <a href="/social/index_profile" class="sidenav-link {% if active_link == 'profile' %} active {% endif %}"><i class="fas fa-address-card "></i></a>
                    <a href="#" class="sidenav-link {% if active_link == 'admin' %} active {% endif %}"><i class="fas fa-user-edit "></i></a>
                </div>
                <a href="#" class="sidenav-last-link sidenav-link {% if active_link == 'log-out' %} active {% endif %}"><i class="fas fa-sign-out-alt "></i></a>
            </nav>
        </div>
        <div class="content">
            <div class="content-header">
                <div class="row justify-content-between w-100">
                    <div class="col">
                        <div class="search-input-group">
                            <input type="text" class="search-input" placeholder="Rechercher">
                            <button class="button search-button"><i class="fas fa-search "></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <h3 class="page-title">News : Events : Nom de l'event</h3>
                <div class="row">
                    <div class="col-lg-6">
                        {% for post in event_posts %}
                        <div class="news-card">
                            <div class="news-card-header">
                                <!--Poster-Image-Name-and-Title-of-the-post-->
                                {% if post.club %}
                                    {% if post.club.logo %}
                                        <div class="news-card-header-image"><img src="{{post.club.logo.path}}"></div>
                                    {% endif %}
                                {% else %}
                                    {% if post.author.picture %}
                                        <div class="news-card-header-image"><img src="{{post.author.picture.path}}"></div>
                                    {% endif %}
                                {% endif %}
                                <div class="news-card-header-text">
                                    <span class="news-card-header-name">
                                        {%if post.club%}
                                            {{post.club.name}}
                                        {%else%}
                                            {{post.author.user.first_name}} {{post.author.user.last_name}}
                                        {%endif%}
                                    </span>
                                    {% if post.event %}
                                        <a href="{% url 'news:event_detail' post.event.pk %}" class="news-card-header-title">{{post.title}}</a>
                                    {% else %}
                                        <span class="news-card-header-title">{{post.title}}</span>
                                    {% endif %}
                                </div>
                                {% if post in my_posts %}
                                    <a href="{% url 'news:post_edit' post.id %}" class="button blue-button">Éditer</a>
                                {% endif %}
                            </div>
                            <div class="news-card-content">
                                <p>{{post.content}}</p>
                            </div>
                            {%if post.illustration%}
                            <div class="news-card-images">
                                    <!--All-Images-Linked-With-The-Post-->
                                    <div class="news-card-carousel" data-flickity='{}'>
                                        <div class="carousel-cell"><img src="{{post.illustration.path}}" style="height: 100%;" alt=""></div>
                                    </div>
                                </div>
                            {%endif%}
                            <div class="news-card-actions">
                                <!--Likes-Comments-Favorite-->
                                <div class="news-card-buttons">
                                    {% if user.student in post.likes.all  %}
                                        <a href="{% url 'news:post_like' post_id=post.id action='Dislike'%}" class="news-card-button"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{% url 'news:post_like' post_id=post.id action='Like'%}" class="news-card-button"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </div>
                                <div class="news-card-popularity">
                                    <span><i class="fas fa-heart" style="color: red;"></i> {{post.total_likes}}</span>
                                    <span><i class="fas fa-comment" style="color: rgb(0, 153, 255);"></i> {{ post.total_comments }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6">
                        <div class="box mt-3">
                            <div class="section-title">Information concernant l'évènement : {{event.name}}</div>
                            <p class="mt-3"><strong>Date de l'évènement :</strong> {{event.date}}</p>
                            <p><strong>Qui organise ?</strong> {{event.club}}</p>
                            <p><strong>Où ?</strong> {{event.location}}</p>
                            <p><strong>Description de l'évènement :</strong> {{event.description}}</p>
                            <div class="centered-div" style="margin: 2rem 0rem;">
                                <a href="" class="button blue-button">Je participe</a>
                                <a href="" class="button red-button">Je ne participe plus</a>
                                <a href="{% url 'news:events' %}" class="button green-button">Retour à l'index</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
