{% load static %}
<!--Header-->
{% include "header.html" with title="Fil d'actualité" %}

    <!--Body-->
    <body>
        <!--Feedback Button-->
        {% include "feedback.html" %}

        <!--Sidenav-->
        {% include "sidenav.html" with active_link="news" %}

        <!--Content-->
        <div class="content">
            <div class="content-header">
                <div class="row justify-content-between w-100">
                    <div class="col">
                        <div class="search-input-group">
                            <input type="text" class="search-input" placeholder="Rechercher">
                            <button class="button search-button"><i class="fas fa-search "></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <a href="{% url 'news:posts' %}">Posts</a>
                <a href="{% url 'news:events' %}">Évènements</a>
                <a href="{% url 'news:shotguns' %}">Shotguns</a>
            </div>
        </div>
        <script src="{% static 'js/sidenav.js' %}"></script>
    </body>
</html>