{% load static %}
<!--Header-->
{% include "header.html" with title="Markdown" %}
{% load markdownify %}
<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">
        <div class="content-header"></div>
        <div class="content-main">
            <h3 class="page-title">Tutoriel Markddown</h3>
            <div class="content" >
                <p>Un certain nombre de pages de uPont prennent en charge le markdown pour faire des jolis posts, donc un petit tutoriel s'impose.</p>
            </div>
            <div class="content" >
                <p>Voici l'ensemble des fonctions disponibles:</p>
            </div>
            <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                    overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
            </style>
            <table class="tg">
                <thead>
                    <tr>
                        <th class="tg-c3ow">Element</th>
                        <th class="tg-c3ow">Markdown</th>
                        <th class="tg-c3ow">Résultat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-c3ow">Titre 1</td>
                        <td class="tg-c3ow"># Titre 1</td>
                        <td class="tg-c3ow"><h1>Titre 1</h1></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Titre 2</td>
                        <td class="tg-c3ow"># Titre 2</td>
                        <td class="tg-c3ow"><h2>Titre 1</h2></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Titre 3</td>
                        <td class="tg-c3ow"># Titre 3</td>
                        <td class="tg-c3ow"><h3>Titre 1</h3></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Titre 4</td>
                        <td class="tg-c3ow"># Titre 4</td>
                        <td class="tg-c3ow"><h4>Titre 1</h4></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Titre 5</td>
                        <td class="tg-c3ow"># Titre 5</td>
                        <td class="tg-c3ow"><h5>Titre 1</h5></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Titre 6</td>
                        <td class="tg-c3ow"># Titre 6</td>
                        <td class="tg-c3ow"><h6>Titre 1</h6></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Gras</td>
                        <td class="tg-c3ow">**Gras**</td>
                        <td class="tg-c3ow"><strong>Gras</strong></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Italique</td>
                        <td class="tg-c3ow">*Italique*</td>
                        <td class="tg-c3ow"><em>Italique</em></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Liste ordonnée<br>(ne prend pas en compte les numéros)</td>
                        <td class="tg-c3ow">1. Element 1<br>2. Element 2<br>2. Element 3<br></td>
                        <td class="tg-c3ow"><ol><li>Element 1</li><li> Element 2 </li><li> Element 3 </li></ol></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Liste désordonnée<br>(on peut utiliser * ou - indifférement)</td>
                        <td class="tg-c3ow">* Element 1<br>* Element 2<br>* Element 3<br></td>
                        <td class="tg-c3ow"><ul><li>Element 1</li><li>Element 2 </li><li>Element 3 </li></ul></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Listes imbriquées<br>(mettre 3 espaces d'indentation)<br></td>
                        <td class="tg-c3ow">1. Liste 1<br>   * Element 1<br>   * Element 2<br>   * Element 3<br><br>2. Liste 2<br>   * Element 1<br>   * Element 2<br>   * Element 3<br></td>
                        <td class="tg-c3ow"><ol><li><p>Element 1</p><ul><li>Element 1</li><li>Element 2</li><li>Element 3</li></ul></li><li><p>Element 2</p><ul><li>Element 1</li><li>Element 2</li><li>Element 3</li></ul></li></ol></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Code</td>
                        <td class="tg-c3ow">`Code`</td>
                        <td class="tg-c3ow"><code>Code</code></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Citation</td>
                        <td class="tg-c3ow">&gt; Citation</td>
                        <td class="tg-c3ow"><blockquote><p>Citation</p></blockquote></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Ligne horizontale</td>
                        <td class="tg-c3ow">---</td>
                        <td class="tg-c3ow"><hr></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Lien hypertexte</td>
                        <td class="tg-c3ow">[clubinfo](https://clubinfo.enpc.org)</td>
                        <td class="tg-c3ow"><a href="https://clubinfo.enpc.org">clubinfo</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </html>
