{% load static %}
<!--Header-->
{% include "header.html" with title="Modifier la publication" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">{% if Edit %}Éditer{% else %}Créer{% endif %} un post</h3>

            <!--News Card-->
            <div class="news-card">
                <form action="{% if Edit %}{% url 'news:post_edit' post.id %}{% else %}{% url 'news:post_create' %}{% endif %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="news-card-content">
                        <div class="centered-div">
                            {{EditPost.club.errors}}
                            {% if EditPost.club|length > 1 %}
                                <div class="input-title">Publier en tant que :</div>
                                {{EditPost.club}}
                            {% endif %}

                            {{EditPost.event.errors}}
                            <div class="input-title">Est-ce que ce post est associé à un évènement ?</div>
                            {{EditPost.event}}

                            {{EditPost.title.errors}}
                            <div class="input-title">Titre :</div>
                            {{EditPost.title}}<br>

                            {{EditPost.content.errors}}
                            <div class="input-title">Description :</div>
                            {{EditPost.content}}<br><br>
                            <p>Tu peux écrire en markdown, rends toi <a href="{% url 'news:markdown' %}" target="_blank">ici</a> pour en savoir plus.</p>

                            {{EditPost.illustration.errors}}
                            <div class="input-title">Ajouter/modifier une image :</div>
                            {{EditPost.illustration}}<br>

                            {{EditPost.resource_file.errors}}
                            <div class="input-title">Ajouter/modifier une ressource:</div>
                            {{EditPost.resource_file}}
                        </div>
                    </div>
                    {%if post.illustration%}
                        <div class="news-card-images">
                            <!--All-Images-Linked-With-The-Post-->
                            <div class="news-card-carousel">
                                <div class="carousel-cell">
                                    <img class="news-card_image_sized" src="{{post.illustration.url}}" alt="">
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    <div class="centered-div">
                        <button type="button" class="button red-button" onclick="history.back()">Annuler</button>
                        <input class="button green-button" type="submit" name= "Valider" value="Valider">
                        {% if Edit %}
                            <input class="button red-button" type="submit" name="Supprimer" value="Supprimer le post">
                        {% endif %}
                    </div>
                </form>
            </div><!--End of News Card-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

</body><!--End of Body-->
</html><!--End of Document-->
