{% load static %}
<!--Markdownify-->
{% load markdownify %}
<!--Header-->
{% include "header.html" with title="Publications" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">Posts</h3>

            <!--News Navigation-->
            {% include "../news/newsnav.html" %}
            <!--End of News Navigation-->

            <div class="centered-div mt-2">
                <h5 class="text-bold mb-2">Ajouter un post</h5>
                <a href="{% url 'news:post_create' %}"><i class="fas fa-plus-circle fa-5x"></i></a>
            </div>

            <!--News Card-->
            <div id="posts">
                <!--  Posts are rendered with React  -->
            </div>
            <!--End of News Card-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->

    <!--Scripts-->
    <script src="{% url 'reverse_js' %}" type="text/javascript"></script> <!--Put this script before any react script to be able to reverse django urls in react-->
    <script>
        window.react_mount = document.getElementById('posts');
    </script>
    <script src="{% static 'react/Posts.bundle.js' %}"></script>
    <!--End of Scripts-->

</body><!--End of Body-->
</html><!--End of Document-->
