{% load static %}
<!--Header-->
{% include "header.html" with title="Modifier la publication" %}

    <!--Body-->
    <body>
        <!--Feedback Button-->
        {% include "feedback.html" %}

        <!--Sidenav-->
        {% include "sidenav.html" with active_link="news" %}

        <!--Content-->
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="content-main">
                    {% if Edit %}
                        <h3 class="page-title">Éditer un post</h3>
                    {% else %}
                        <h3 class="page-title">Créer un post</h3>
                    {% endif %}
                    <div class="news-card">
                        <div class="news-card-header">
                            <!--Poster-Image-Name-and-Title-of-the-post-->
                            <div class="news-card-header-text">
                                <span class="news-card-header-name">
                                    {{EditPost.event.errors}}
                                    Évènement concerné: {{EditPost.event}} <br> <br>
                                    {{EditPost.club.errors}}
                                    Publier en tant que: {{EditPost.club}} <br>
                                    {{EditPost.title.errors}}
                                    Titre: {{EditPost.title}}
                                </span>
                            </div>
                        </div>
                        <div class="news-card-content">
                            {{EditPost.content.errors}}
                            {{EditPost.content}}
                            {{EditPost.illustration.errors}}
                            {{EditPost.illustration}}
                        </div>
                        {%if post.illustration%}
                            <div class="news-card-images">
                                <!--All-Images-Linked-With-The-Post-->
                                <div class="news-card-carousel" data-flickity='{}'>
                                    <div class="carousel-cell"><img src="{{post.illustration.path}}" style="height: 100%;" alt=""></div>
                                    <div class="carousel-cell"><img src="{% static 'assets/img/user.jpeg' %}" style="height: 100%;" alt=""></div>
                                    <div class="carousel-cell"><img src="{% static 'assets/img/user.jpeg' %}" style="height: 100%;" alt=""></div>
                                </div>
                            </div>
                        {%endif%}
                        <div class="news-card-actions">
                            <div class="news-card-popularity">
                                    {% csrf_token %}
                                    <div>
                                        <a href="{% url 'news:posts' %}"><span class="button red-button">Annuler</span></a>
                                        <input class="button green-button" type="submit" name= "Valider" value="Valider">
                                        {% if Edit %}
                                            <input class="button red-button" type="submit" name="Supprimer" value="Supprimer le post">
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'js/sidenav.js' %}"></script>
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    </body>
</html>