{% load static %}
<!--Header-->
{% include "header.html" with title="Modification du shotgun" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-main">
            <h1>Édition d'un shotgun :</h1>
            <form action="{% url 'news:edit_shotgun' shotgun.id %}" method="post" class="form-control" id="1"><br>
                {% csrf_token %}
                {{ form.non_field_errors }}
                Club :
                {{form.club.errors}}
                {{form.club}}
                <br>
                Titre :
                {{form.title.errors}}
                {{form.title}}
                <br>
                Description :
                {{form.content.errors}}
                {{form.content}}
                <p>Tu peux écrire en markdown, rends toi <a href="/news/markdown">ici</a> pour en savoir plus</p>
                <br>
                Date de début :
                {{form.starting_date.errors}}
                {{form.starting_date}}
                <script>
                    $(function () {
                        $("#id_starting_date").datetimepicker({
                            format: 'd/m/Y H:i',
                        });
                    });
                </script>
                <br>
                Date de fin :
                {{form.ending_date.errors}}
                {{form.ending_date}}
                <script>
                    $(function () {
                        $("#id_ending_date").datetimepicker({
                            format: 'd/m/Y H:i',
                        });
                    });
                </script>
                <br>
                Nombre de places :
                {{form.size.errors}}
                {{form.size}}
                <br>
                Requiert une motivation :
                {{form.requires_motivation.errors}}
                {{form.requires_motivation}}
                <br>
                <button form=1 type="submit" value="Modifier" class="button green-button">Appliquer les modifications</button>
                <a href="{% url 'news:shotguns_admin_detail' shotgun.id %}" style="text-decoration: none"><button class="button red-button">Annuler</button></a>
            </form>
        </div>
    </div>
    <script src="{% static 'js/sidenav.js' %}"></script>
</body>
</html>
