{% load static %}
<!--Header-->
{% include "header.html" with title="Suppression d'un shotgun" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="news" %}

    <!--Content-->
    <div class="content">

        <!--Header Content-->
        <div class="content-header">
            <div class="row justify-content-between w-100">
                <div class="col">
                    <div class="search-input-group">
                        <input type="text" class="search-input" placeholder="Rechercher">
                        <button class="button search-button"><i class="fas fa-search "></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Content-->
        <div class="content-main">

            <h3 class="page-title">Administration des Shotguns</h3>

            <!--Box-->
            <div class="box small-box">
                <h5 class="section-title">{{shotgun.title}}</h5>
                <p class="text-center mt-2">Veux-tu vraiment supprimer ce shotgun ? Cette action sera irréversible et supprimera également toutes les participations de tous les élèves.</p>

                <form action="{% url 'news:delete_shotgun' shotgun.id %}" method="post" id="1">
                    {% csrf_token %}
                    <div class="centered-div">
                        <button form=1 type="submit" value="Supprimer" class="button red-button">Supprimer</button>
                        <a href="{% url 'news:shotguns_admin_detail' shotgun.id %}">
                            <button type="button" class="button green-button">Annuler</button>
                        </a>
                    </div>
                </form>

            </div><!--End of Box-->

        </div><!--End of Main Content-->

    </div><!--End of Content-->
</body><!--End of Body-->
</html><!--End of Document-->
