{% load static %}
<!--Header-->
{% include "header.html" with title="Password Change" %}
    <!--Body-->
    <body>
        <!--Feedback Button-->
        {% include "feedback.html" %}
        <!--Background-->
        {% include "registration/background.html" %}
        <!--Change Password Card-->
        <div class="login-content">
            <div class="login-card">
                <div class="row h-100">
                    <!--Change Password Card Left Side-->
                    <div class="col-sm-5 logo-col" style="padding: 1rem;">
                        <img class="login-logo" src="{% static 'assets/img/logo.png' %}" alt="">
                    </div>
                    <!--Change Password Card Right Side-->
                    <div class="col-sm-7 white-border" style="padding: 1rem;">
                        <!--Change Password Form-->
                        <form class="login-card-form" method="post">
                            {% csrf_token %}
                            <h1 class="login-title">Changement du mot de passe</h1>
                            <!--Old Password-->
                            <p class="login-links">Rentre ton ancien mot de passe&nbsp;:</p>
                            <input type="password" name="old_password" autocomplete="current-password"
                                   autofocus required id="id_old_password" class="login-input" placeholder="Ancien mot de passe">
                            <!--New Password-->
                            <p class="login-links">Rentre ton nouveau mot de passe&nbsp;:</p>
                            <input type="password" name="new_password1" autocomplete="new-password" required
                                   id="id_new_password1" class="login-input" placeholder="Mot de passe">
                            <!--Indications-->
                            <ul class="login-links" style="text-align:left;">
                                <li>Ton mot de passe ne peut pas trop ressembler à tes autres informations personnelles.</li>
                                <li>Ton mot de passe doit contenir au minimum 8 caractères.</li>
                                <li>Ton mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                <li>Ton mot de passe ne peut pas être entièrement numérique.</li>
                            </ul>
                            <!--New Password Confirmation-->
                            <p class="login-links">Confirme ton nouveau mot de passe&nbsp;:</p>
                            <input type="password" name="new_password2" autocomplete="new-password" required
                                   id="id_new_password2" class="login-input" placeholder="Confirme ton mot de passe">
                            <!--Change Password Errors-->
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="login-errors">{{ error|escape }}</div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="login-errors">{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}
                            <!--Submit Button-->
                            <input type="submit" class="btn btn-info" style="margin-top:1rem;" value="Changer le mot de passe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>