<!doctype html>
<html>
    <!--Header-->
    {% include "header.html" with title="Mot de passe oublié"%}

    <body>
        {% include "feedback.html" %}
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_email">Courriel&nbsp;:</label>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            </p>
            <input type="submit" value="Envoyer">
        </form>
    </body>
</html>