{% load static %}
<!doctype html>
<html>
    <!--Header-->
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="https://kit.fontawesome.com/e89ead331b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="login-content">
            <div class="login-card">
                <div class="row h-100">
                    <div class="col-sm-5 logo-col" style="padding: 1rem;">
                        <img class="login-logo" src="{% static 'assets/img/logo.png' %}"  alt="">
                        <h1 class="login-title">Bienvenue sur uPont</h1>
                    </div>
                    <div class="col-sm-7 white-border" style="padding: 1rem;">
                        <div class="login-card-form">
                            <h1 class="login-title" style="margin-bottom: 3rem;">Ton mot de passe a été changé avec succès !</h1>
                            <a href="{% url 'login' %}" class="btn btn-info">Revenir à la page de connexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>