<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Réinitialisation du mot de passe</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <p>Veuillez rentrer votre nouveau mot de passe :</p>
            {% if form.errors %}
                <p>Les deux mots de passe ne correspondent pas.</p>
            {% endif %}
            <p>
                <label for="id_new_password1">Nouveau mot de passe :</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            </p>
            <ul>
                <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
            </ul>
            <p>
                <label for="id_new_password2">Confirmation du nouveau mot de passe :</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </p>
            <input type="submit" value="Réinitialiser le mot de passe">
        </form>
    </body>
</html>