{% load static %}
<!doctype html>
<html>
    <!--Header-->
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="https://kit.fontawesome.com/e89ead331b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="colored-circle"></div>
        <div class="login-content">
            <div class="login-card">
                <div class="row h-100">
                    <div class="col-sm-5 logo-col" style="padding: 1rem;">
                        <img class="login-logo" src="{% static 'assets/img/logo.png' %}" alt="">
                        <h1 class="login-title">Bienvenue sur uPont</h1>
                    </div>
                    <div class="col-sm-7 white-border" style="padding: 1rem;">
                        <form class="login-card-form" method="post">
                            {% csrf_token %}
                            <h1 class="login-title">Mot de passe oublié</h1>
                            <p class="login-links">Entre ton email afin que nous puissions t'envoyer un lien de réinitialisation de mot de passe.</p>
                            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"
                                   class="login-input" placeholder="Email">

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="login-links">{{ error|escape }}</div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="login-links">{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}

                            <input type="submit" class="btn btn-info" value="Envoyer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>