{% load static %}
<!--Header And Background-->
{% include "registration/header_login.html" with title="Password Change" %}
    <!--Body-->
    <body>
        <!--Background-->
        {% include "registration/background.html" %}
        <!--Card-->
        <div class="login-content">
            <div class="login-card">
                <div class="row h-100">
                    <!--Card Left Side-->
                    <div class="col-sm-5 logo-col" style="padding: 1rem;">
                        <img class="login-logo" src="{% static 'assets/img/logo.png' %}"  alt="">
                    </div>
                    <!--Card Right Side-->
                    <div class="col-sm-7 white-border" style="padding: 1rem;">
                        <div class="login-card-form">
                            <h1 class="login-title" style="margin-bottom: 3rem;">Ton mot de passe a été changé avec succès !</h1>
                            <a href="/social/index_users" class="btn btn-info">Revenir au menu principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>