{% load static %}
<!--Header And Background-->
{% include "registration/base.html" with title="Password Reset" %}
        <!--Login Card-->
        <div class="login-content">
            <div class="login-card">
                <div class="row h-100">
                    <!--Login Card Left Side-->
                    <div class="col-sm-5 logo-col" style="padding: 1rem;">
                        <img class="login-logo" src="{% static 'assets/img/logo.png' %}" alt="">
                    </div>
                    <!--Login Card Right Side-->
                    <div class="col-sm-7 white-border" style="padding: 1rem;">
                        <!--Login Form-->
                        <form class="login-card-form" method="post">
                            {% csrf_token %}
                            <h1 class="login-title">Mot de passe oublié</h1>
                            <!--Email-->
                            <p class="login-links">Entre ton email afin que nous puissions t'envoyer un lien de réinitialisation de mot de passe.</p>
                            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"
                                   class="login-input" placeholder="Email">
                            <!--Form Errors-->
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="login-links">{{ error|escape }}</div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="login-links">{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}
                            <!--Submit Button-->
                            <input type="submit" class="btn btn-info" value="Envoyer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>