@import url("../assets/fonts/helvetica_neue/font.css");

:root{
    --medium-screen:768px;
    --primary-bg-color:#1A1B20;
    --border-color:hsla(0, 0%, 100%, 0.25);
    --border-width: 0.25px;
    --disabled-link-color:hsla(0, 0%, 100%, 0.3);
    --active-link-color:hsla(0, 0%, 100%, 1);
    --hover-link-color:hsla(0, 0%, 100%, 1);
    --sidenav-width: 9rem;
}


body{
    font-family: 'Neue Helvetica Light';
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/*------------------------------------------------------------------------------*/
/*----------------------------- FEEDBACK BUTTON --------------------------------*/
/*------------------------------------------------------------------------------*/

 .vertical-right-aligned {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
}

/*------------------------------------------------------------------------------*/
/*---------------------------------- SIDE-NAV ----------------------------------*/
/*------------------------------------------------------------------------------*/

.sidenav-container{
    /* Positioning */
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Sizing */
    min-height: 100vh;
    /* Styling */
    background-color:var(--primary-bg-color);
    border-right: solid var(--border-color) var(--border-width);
    /* Z-Positioning */
    z-index: 2;
}

.sidenav{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Sizing */
    min-width: var(--sidenav-width);
    height: 95%;
}

.sidenav-links{
    /* Positioning */
    display: flex;
    flex-direction: column;
}

.sidenav-link{
    /* Sizing */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* Styling */
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--disabled-link-color);
    /* Animating */
    transition: 0.2s;
}

.sidenav-link.active{
    color: var(--active-link-color);
}

@media(min-width:856px){
    /* Les propriétés de hover ne sont utils que pour ordi */
    .sidenav-link:hover{
        /* Styling*/
        color: var(--hover-link-color);
        /* Animating */
        transform: scale(1.1);
    }
    .sidenav-link{
        text-align: left;
    }
}

.sidenav-first-link{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img.logo{
    /* Sizing */
    height: 3rem;
    width: 3rem;
}

img.logo-svg{
        /* Sizing */
        vertical-align: middle;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 3rem;
        width: 3rem;
}

.toggle{
    /* Positioning */
    display: none;
    /* Styling */
    color: var(--active-link-color);
}

/*-------------------------------------------------*/
/*-------------- RESPONSIVE SIDE-NAV --------------*/
/*-------------------------------------------------*/

@media(max-width:856px){

    .sidenav-container{
        /* Positioning */
        position: fixed;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        /* Sizing */
        min-height: 0;
        /* Styling */
        border-style: none; /* Faut etre sur la aussi */
    }

    .sidenav{
        /* Sizing */
        min-width: 100vw;
    }

    .show-border{
        /* Styling */
        border-bottom: solid var(--border-color) var(--border-width);
    }

    .sidenav-link{
        /* Sizing */
        padding-top: 0rem;
        padding-bottom: 0rem;
        /* Styling */
        font-size: 0rem;
    }

    .show-link{
        /* Sizing */
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* Styling */
        font-size: 1rem;
    }

    .sidenav-first-link{
        /* Positioning */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* Sizing */
        padding-left: 1rem;
        padding-right: 1rem;
        /* Styling */
        border-bottom: solid var(--border-color) var(--border-width);
    }

    .show-last-link{
        /* Sizing */
        margin: 0rem 4rem;
        /* Styling */
        border-top: solid var(--border-color) var(--border-width);
    }


    img.logo{
        /* Sizing */
        height: 2rem;
        width: 2rem;
    }

    img.logo-svg{
        /* Sizing */
        vertical-align: middle;
        padding-left: 0rem;
        padding-right: 0rem;
        height: 0rem;
        width: 0rem;
    }

    img.show-logo-svg{
        /* Sizing */
        vertical-align: middle;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 3rem;
        width: 3rem;
    }

    .toggle{
        /* Positioning */
        display: block;
        cursor: pointer;
    }
}

/*------------------------------------------------------------------------------*/
/*---------------------------------- CONTENT -----------------------------------*/
/*------------------------------------------------------------------------------*/

.content{
    /* Positioning */
    position: relative;
    /* Sizing */
    margin-left: var(--sidenav-width);
    padding: 0rem 2rem;
    /* Styling */
    color: white;
    background-color:transparent;
    z-index: 1;
}

.content-header{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizing */
    height: calc(2.5vh + 1rem + 3rem + 1rem + 2.5vh);
    /* Styling */
    color: white;

}

.content-main{
    /* Sizing */
    padding-bottom: 1rem;
}

@media(max-width:856px){
    .content{
        /* Sizing */
        margin-top: 4rem;
        margin-left: 0rem;
        padding: 0rem 1rem;
    }
}

/*-------------------------------------------------*/
/*------------------ LOGIN STYLE ------------------*/
/*-------------------------------------------------*/

.login-content{
    /* Positioning */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100vw;
    min-height: 100vh;
    /* Z-Positioning */
    z-index: 1;
    /* Styling */
    overflow-x: hidden;
}

.login-card{
    /* Positioning */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Sizing */
    width: 90%;
    min-height: 0;
    padding: 1.5rem;
    /* Styling */
    word-wrap: break-word;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: solid 1px hsla(0, 0%, 100%, 0.5);
    border-left: solid 1px hsla(0, 0%, 100%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.1);
    overflow: hidden;
    /* Z-Positioning */
    z-index: 2;
}

.login-card-form{
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    /* Styling */
    color: white;
}

.login-input {
    /* Sizing */
    width: 80%;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0rem;
    /* Styling */
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
}

.login-input:focus{
    outline: 0;
}

.logo-col{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Styling */
    color: white;
}

.login-logo{
    height: 200px;
}

.login-title{
    text-align: center;
    font-size: 2rem;
    font-family:'Neue Helvetica Light';
}

.login-links{
    font-family:'Neue Helvetica Thin';
    text-align: center;
}

.login-errors{
    color:#ffffff;
    font-family: 'Neue Helvetica Medium';
}

.link{
    text-decoration: none;
}

.link:hover{
    color: #39cbfb;
}

@media(max-width:870px){
    .login-logo{
        height: 150px;
    }
}

@media(max-width:450px){
    .login-logo{
        height: 100px;
    }

    .login-title{
        font-size: 1.3rem;
    }

    .link{
        font-size: 0.7rem;
    }

    .login-input {
        font-size: 0.7rem;
    }
}

.colored-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 0, 0));
    z-index: 0;
}

.colored-circle:nth-child(1){
    clip-path: circle(30% at 30% 10%);
}

.colored-circle:nth-child(2){
    clip-path: circle(25% at 100% 40%);
}

.colored-circle:nth-child(3){
    clip-path: circle(25% at 0% 100%);
}

.colored-circle:nth-child(4){
    clip-path: circle(10% at 50% 80%);
}

@media(max-width:670px){
    .white-border{
        border-left: none var(--border-color) var(--border-width);
        border-top: solid var(--border-color) var(--border-width);
    }
}

/*------------------------------------------------------------------------------*/
/*----------------------------------- TEXT -------------------------------------*/
/*------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    /* Sizing */
    margin:0;
    padding:0;
}

.page-title{
    /* Sizing */
    padding: 2rem 0rem;
    margin: 0;
    /* Styling */
    text-align: center;
    font-weight: 600;
    border-top: solid var(--border-color) var(--border-width);
    border-bottom: solid var(--border-color) var(--border-width);
}

.page-subtitle-3{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid var(--border-color) var(--border-width);
    text-align: center;
    font-weight: 600;
    border-bottom: solid var(--border-color) var(--border-width);
}

.section-title{
    font-family: 'Neue Helvetica Light';
    font-weight: normal;
    /* Sizing */
    padding: 1rem 0rem 1.5rem 0rem;
    margin: 0rem 1rem;
    /* Styling */
    text-align: center;
    border-bottom: solid var(--primary-bg-color) 2px;
}

.text-bold{
    font-family: 'Neue Helvetica Medium';
    font-weight: normal;
    font-size: 1.1rem;
}

.text-thin{
    font-family: 'Neue Helvetica Thin';
    font-weight: normal;
    font-size: 0.9rem;
}

.text-center{
    text-align: center;
}

.text-justified{
    text-align: justify;
}

.text-green{
    color: rgb(37, 168, 39);
}

a.text-green:hover{
    color: rgb(73, 205, 50);
}

.text-red{
    color: rgb(188, 4, 4);
}

.text-underlined{
    text-decoration: underline;
}

.text-not-underlined{
    text-decoration: none;
}

.input-title{
    margin-left: 2rem;
    text-align: left;
}
/*------------------------------------------------------------------------------*/
/*-------------------------------- COMPONENTS ----------------------------------*/
/*------------------------------------------------------------------------------*/

.box{
    /* Styling */
    color: white;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin: 1.5rem auto 1.5rem auto;
    padding: 1rem 1rem;
	backdrop-filter: blur(10px);
}

.small-box{
    max-width: 40rem;
}

.information-box{
    /* Sizing */
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 80%;
    /* Styling */
    background-color: transparent;
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border-radius: 0.5rem;
    word-wrap: break-word;
}

.text-input{
    /* Sizing */
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 90%;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
}

.text-input:focus{
    outline: none;
}

.button{
    display: inline-block;
    cursor: pointer;
    /* Sizing */
    padding: 0.75rem 1.5rem;
    /* Styling */
    font-family:'Neue Helvetica Bold';
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.09);
    border-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blue-button{
    background-color: #3DC1F3;
    margin:1rem;
}

.blue-button:hover{
    background-color: #16a2d4;
}

.red-button{
    background-color: #f33d3d;
    margin:1rem;
}

.red-button:hover{
    background-color: #c01717;
}

.green-button{
    background-color: #00cc33;
    margin:1rem;
}

.green-button:hover{
    background-color: #008a22;
}

.disabled-button{
    background-color: #212227;
    margin:1rem;
}

.search-button{
    /* Sizing */
    margin-left: -3.2rem;
    padding: 1rem 1.2rem;
    /* Styling */
    border-radius: 0rem;
    background-color: rgba(255, 255, 255, 0);
    border-left: solid var(--border-color) var(--border-width);
}

.logo-button {
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.search-input-group {
    /* Positioning */
    display: flex;
    flex-direction: row;
}

.search-input{
    /* Sizing */
    padding: 0rem 3.8rem 0rem 1rem;
    width: 14rem;
    /* Styling */
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.09);
    border-style: none;
    border-radius: 0.5rem;
}

.search-input:focus {
    outline: 0;
}

@media(max-width:856px){
    .search-input-group{
        /* Positioning */
        justify-content: center;
    }
}

.centered-div{
    width: 100%;
    text-align: center;
}

.glass-card{
    text-align: center;
    width: 300px;
    height: 500px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.5rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); /* rgba(255, 255, 255, 0.1) */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    overflow: hidden;
}

.white-border{
    border-left: solid var(--border-color) var(--border-width);
}

.top-border{
    border-top: solid var(--border-color) var(--border-width);
}

.bottom-border{
    border-bottom: solid var(--border-color) var(--border-width);
}

.image-centered{
    height: 100%;
}

/*-------------------------------------------------*/
/*-------------------- USER CARD ------------------*//*      A REVOIR      */
/*-------------------------------------------------*/

.user-card{
    /* Positioning */
    position: relative;
    display: flex;
    flex-direction: row;
    /* Sizing */
    width: 300px;
    padding: 1rem 0rem;
    margin: auto;
    /* Styling */
    border-bottom: solid var(--border-color) var(--border-width);
}

.user-image{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid 2px rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    overflow: hidden;
}

.user-information{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Sizing */
    padding-left: 0.5rem;
    width: 210px;
    /* Styling */
    font-size: 1rem;
    text-align: center;

}

.user-name{
    font-weight: 600;
}

@media(max-width:350px){
    .user-card{
        width: 270px;
    }

    .user-image{
        height: 80px;
        width: 80px;
    }

    .user-information{
        width: 190px;
        font-size: 0.8rem;
    }
}

/*-------------------------------------------------*/
/*--------------- PROFIL COMPONENTS ---------------*//*      A REVOIR      */
/*-------------------------------------------------*/

.profil-image{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    margin-top: -141px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    /* Styling */
    border: 8px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.profil-information-box{
    /* Sizing */
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 80%;
    /* Styling */
    background-color: transparent;
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border-radius: 0.5rem;
}

.profil-box{
    margin-top: calc(125px);
}

.profil-input{
    /* Sizing */
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    width: 80%;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align:center;
    border-radius: 0.5rem;
}

.profil-member-create{
    text-align:left;
    width: 50%;
}

.profil-input[type="file"]{
    color: rgb(156, 156, 156);
}

.profil-input:focus{
    outline: 0;
}

.profil-input::file-selector-button {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    overflow: hidden;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 15;
}

.profil-select{
    width: 80%;
    height: 2.5rem;
    margin: 1rem auto 1.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: var(--primary-bg-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    background-size: 16px 12px;
    border: solid var(--border-color) var(--border-width);
    border-radius: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.profil-select:focus{
    outline: 0;
}

/*-------------------------------------------------*/
/*------------ SINGLE CLUB COMPONENTS -------------*//*      A REVOIR      */
/*-------------------------------------------------*/

.club-box{
    /* Styling */
    margin-left: auto;
    margin-right: auto;
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0rem 5rem;
    border-radius: 0.5rem;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    max-width: 1500px;
}

@media(max-width:856px){
    .club-box{
        background-color: hsla(0, 0%, 100%, 0);
        box-shadow: none;
    }
}

.club-group-image-container{
    margin-top: -10rem;
    background: var(--primary-bg-color);
    border-radius: 0.5rem;
    max-height: 60vh;
    overflow: hidden;
}

.club-group-image{
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.club-image{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    margin-top: -6rem;
    margin-left: auto;
    margin-right: auto;
    height: 14rem;
    width: 14rem;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: 8px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.club-title{
    /* Sizing */
    padding: 2rem 0rem;
    margin: 0rem 3rem 0rem 0rem;
    /* Styling */
    text-align: left;
    font-family:'Neue Helvetica Medium';
    font-style: normal;
    font-size: 1.5rem;

    border-bottom: solid var(--border-color) var(--border-width);
}

@media(max-width:440px){
    .club-image{
        margin-top: -4rem;
        height: 10rem;
        width: 10rem;
    }
}

@media(max-width:857px){
    .club-box{
        padding: 0rem 0.5rem;
        background-color: hsla(0, 0%, 100%, 0);
    }

    .club-description-content{
        margin: 1rem 1rem;
    }
}

@media(max-width:1168px){

    .club-title{
        margin: 0rem;
        text-align: center;
    }
}

/*-------------------------------------------------*/
/*--------------- ALL CLUB COMPONENTS -------------*//*      A REVOIR      */
/*-------------------------------------------------*/


.club-card {
    margin: 1.5rem auto;
	position: relative;
	height: 20rem;
    width: 14rem;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.club-card .club-card-content {
    transform: translateY(-40px);
	transition: 0.5s;
}

@media(min-width:1200px){
    .club-card .club-card-content {
        transform: translateY(0px);
        transition: 0.5s;
    }

    .club-card:hover .club-card-content {
        transform: translateY(-40px);
    }
}

.club-card .club-card-content .club-card-image{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    margin: 1rem auto;
    height: 11rem;
    width: 11rem;
    /* Styling */
    border: 8px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.club-card .club-card-title {
    position: absolute;
    text-align: center;
	bottom: 50px;
	display: flex;
}

@media(min-width:1200px){
    .club-card .club-card-title {
        transform: translateY(40px);
	    transition: 0.5s;
	    opacity: 0;
    }

    .club-card:hover .club-card-title{
        transform: translateY(0px);
        opacity: 1;
    }
}

.vignette-club-mini{
    position:relative;
    display: flex;
    margin-top: 2rem;
    min-height: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media(max-width:500px){
    .vignette-club-mini{
        width: 20rem;
    }
}

.vignette-club-mini .vignette-image-mini{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    height: 5rem;
    width: 5rem;
    margin-left: 0.7rem;
    /* Styling */
    border: 3px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.vignette-club-mini .vignette-mini-title{
    text-align: center;
    margin: auto;
    font-size: 1rem;
}

.vignette-club-mini .vignette-mini-role{
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
}

/*-------------------------------------------------*/
/*----------------- NEWS COMPONENTS ---------------*/
/*-------------------------------------------------*/

.news-card{
    margin: 1.5rem auto 1.5rem auto;
    width: 40rem;
    min-height: 15rem;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
    display: flex;
    flex-direction: column;
	backdrop-filter: blur(10px);
}

@media(max-width:700px){
    .news-card{
        width: 100%;
    }
}

.news-card-header{
    height: 5rem;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary-bg-color);
}

.news-card-header-image{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    height: 4rem;
    width: 4rem;
    /* Styling */
    border: 2px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.news-card-header-text{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.news-card-header-edit-button{
    margin-left: auto;
    font-size: 1.5rem;
}

.news-card-header-name{
    font-family: 'Neue Helvetica Medium';
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.news-card-header-date{
    font-family: 'Neue Helvetica Thin';
    font-weight: normal;
    font-size: 0.9rem;
}

.news-card-header-title{
    font-family: 'Neue Helvetica Medium';
    font-weight: normal;
    font-size: 1.3rem;
}

.news-card-content{
    padding:1rem;
    border-bottom: 2px solid var(--primary-bg-color);
    word-wrap: break-word;
}

.news-card-popularity {
    text-align: left;
}

.news-card-content-title {
    text-align: center;
    margin: 1rem;
}

.news-card-images{
    padding:1rem;
    border-bottom: 2px solid var(--primary-bg-color);
}

.news-card-carousel{
    width: 100%;
    margin: auto;
}

.carousel-cell{
    display: flex;
    justify-content: center;
}

.news-card_image_sized{
    max-width: 100%;
    max-height: 20rem;
}

.news-card-actions{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 1rem;
    border-bottom: 2px solid var(--primary-bg-color);
    font-size: 1.3rem;
}

.news-card-buttons{
    height: 100%;
    display: flex;
    align-items: center;
}

.news-card-button{
    font-size: 1rem;
    margin: 0 0rem;
}

.news-card-comments{
    min-height: 6rem;
    padding: 0 1rem;
    background-color: #3a3b3f;
}

.news-card-comment-user-pic{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    height: 3rem;
    width: 3rem;
    /* Styling */
    border: 1px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.news-card-comment{
    display: flex;
    justify-content: left;
    padding: 1rem 0rem;
}

.news-card-comment-box{
    /* Sizing */
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    width: 65%;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    word-wrap: break-word;
}

.news-card-edit-comment{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0rem;
}

.news-card-edit-comment-container{
    padding: 1rem;
}

.news-card-edit-comment-input{
    /* Sizing */
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    width: 85%;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.news-card-edit-comment-input:focus{
    outline: 0;
}

.news-card-comments-input{
    height: 0;
}

.news-card-resource{
    /* Positionning */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.5rem;
}

.resource-name{
    font-weight: bold;
}
.resource-download{
    margin-left: auto;
}

/*-------------------------------------------------*/
/*------------------- NAV OF NEWS -----------------*//*      A REVOIR      */
/*-------------------------------------------------*/

.news-nav{
    position: fixed;
    margin: 0 auto;
    top: 14rem;
    left: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 9rem;
    max-width: 50rem;
    background-color: var(--primary-bg-color);
    border-radius: 0.5rem;
    border: solid var(--border-color) var(--border-width);
}

.news-nav a{
    font-family: 'Neue Helvetica Thin';
    font-weight: normal;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    border-bottom: solid var(--border-width) var(--border-color);
}

@media(max-width:1175px){
    .news-nav{
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
    }

    .news-nav a{
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
    }
}

.news-nav a:hover{
    color: #39cbfb;
}

/*-------------------------------------------------*/
/*--------------------- POCHTRON ------------------*/
/*-------------------------------------------------*/

.white-input{
    background-color: white;
    color: black;
    text-align: left;
    font-family:'Neue Helvetica Light';
}

/*-------------------------------------------------*/
/*--------------- COURSES COMPONENTS --------------*/
/*-------------------------------------------------*/
.course-card{
    /* Positioning */
    position: relative;
    display: flex;
    flex-direction: row;
    /* Sizing */
    width: auto;
    padding: 1rem 0rem;
    margin: 1rem 2rem;
    margin-left: 1rem;
    /* Styling */
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}

.course-information{
    /* Positionning */
    position: relative;
    display: flex;
    flex-direction: column;
    /* Sizing */
    margin-left: 1rem;
}

.course-name{
    font-weight: 600;
    font-size: 1.3rem;
}

.course-searchbar{
    /* Positionning */
    position: relative;
    display: flex;
    flex-direction: row;
    /* Sizing */
    margin: 0.3rem 0;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    text-indent: 0.5rem;
    /* Styling */
    border-radius: 5px;
}

.course-link{
    text-decoration: none;
}

.course-box{
    /* Styling */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0rem 5rem;
    border-radius: 0.5rem;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    max-width: 1500px;
}

.course-title{
    /* Sizing */
    padding: 2rem 0rem;
    margin: 0rem 0rem 1.5rem 0rem;
    /* Styling */
    text-align: left;
    font-family:'Neue Helvetica Medium';
    font-style: normal;
    font-size: 1.5rem;

    border-bottom: solid var(--border-color) var(--border-width);
}

.group-box{
    /* Styling */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.button-drawer{
    /* Positionning */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    /* Sizing */
    margin: 0.3rem 0;
    width: 100%;
    line-height: 1.8rem;
    font-size: 1rem;
    text-indent: 0.5rem;
    /* Styling */
    border-radius: 3px;
    border-width: 0.2px;
    background-color: #26272b;
    color: white;

}

/*-------------------------------------------------*/
/*--------------- CALENDAR COMPONENTS -------------*/
/*-------------------------------------------------*/
.calendar-box {
    width: 80%;
}

.calendar-export-form {
    /* Positionning */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------------------*/
/*---------------------- TABS ---------------------*/
/*-------------------------------------------------*/
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  color: white;
  background-color: var(--primary-bg-color);
}

.tab button {
  background-color: inherit;
  float: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1.3rem 1.3rem;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.tab button.active {
    border-bottom: 3px solid #3DC1F3;
}