@import url("../assets/fonts/helvetica_neue/font.css");

:root{
    --medium-screen:768px;
    --primary-bg-color:#1A1B20;
    --border-color:hsla(0, 0%, 100%, 0.25);
    --border-width: 0.25px;
    --disabled-link-color:hsla(0, 0%, 100%, 0.3);
    --active-link-color:hsla(0, 0%, 100%, 1);
    --hover-link-color:hsla(0, 0%, 100%, 1);
    --sidenav-width: 9rem;
}


body{
    font-family: 'Neue Helvetica Light';
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------------------------*/
/*---------------------------------- SIDE-NAV ----------------------------------*/
/*------------------------------------------------------------------------------*/

.sidenav-container{
    /* Positioning */
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Sizing */
    min-height: 100vh;
    /* Styling */
    background-color:var(--primary-bg-color);
    border-right: solid var(--border-color) var(--border-width);
    /* Z-Positioning */
    z-index: 2;
}

.sidenav{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Sizing */
    min-width: var(--sidenav-width);
    height: 95%;
}

.sidenav-links{
    /* Positioning */
    display: flex;
    flex-direction: column;
}

.sidenav-link{
    /* Sizing */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* Styling */
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--disabled-link-color);
    /* Animating */
    transition: 0.3s;
}

.sidenav-link.active{
    color: var(--active-link-color);
}

@media(min-width:856px){
    /* Les propriétés de hover ne sont utils que pour ordi */
    .sidenav-link:hover{
        /* Styling*/
        color: var(--hover-link-color);
        /* Animating */
        transform: scale(1.2);
    }
}

.sidenav-first-link{
    /* Positioning */
    display: flex;
    justify-content: center;
    /* Sizing */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img.logo{
    /* Sizing */
    height: 3rem;
    width: 3rem;
}

.toggle{
    /* Positioning */
    display: none;
    /* Styling */
    color: var(--active-link-color);
}

/*-------------------------------------------------*/
/*-------------- RESPONSIVE SIDE-NAV --------------*/
/*-------------------------------------------------*/

@media(max-width:856px){

    .sidenav-container{
        /* Positioning */
        position: fixed;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        /* Sizing */
        min-height: 0;
        /* Styling */
        border-style: none; /* Faut etre sur la aussi */
    }
    
    .sidenav{
        /* Sizing */
        min-width: 100vw;
    }

    .show-border{
        /* Styling */
        border-bottom: solid var(--border-color) var(--border-width);
    }

    .sidenav-link{
        /* Sizing */
        padding-top: 0rem;
        padding-bottom: 0rem;
        /* Styling */
        font-size: 0rem;
    }

    .show-link{
        /* Sizing */
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* Styling */
        font-size: 1rem;
    }
    
    .sidenav-first-link{
        /* Positioning */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* Sizing */
        padding-left: 1rem;
        padding-right: 1rem;
        /* Styling */
        border-bottom: solid var(--border-color) var(--border-width);
    }
    
    .show-last-link{
        /* Sizing */
        margin: 0rem 4rem;
        /* Styling */
        border-top: solid var(--border-color) var(--border-width);
    }
    

    img.logo{
        /* Sizing */
        height: 2rem;
        width: 2rem;
    }

    .toggle{
        /* Positioning */
        display: block;
        cursor: pointer;
    }
}

/*------------------------------------------------------------------------------*/
/*---------------------------------- CONTENT -----------------------------------*/
/*------------------------------------------------------------------------------*/

.content{
    /* Positioning */
    position: relative;
    /* Sizing */
    margin-left: var(--sidenav-width);
    padding: 0rem 2rem;
    /* Styling */
    color: white;
    background-color:transparent;
    z-index: 1;
}

.content-header{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizing */
    height: calc(2.5vh + 1rem + 3rem + 1rem + 2.5vh);
    /* Styling */
    color: white;
    border-bottom: solid hsla(0, 0%, 100%, 0.25) 0.25px;
}

.content-main{
    /* Sizing */
    padding: 2rem 0rem;
}

@media(max-width:856px){
    .content{
        /* Sizing */
        margin-top: 4rem;
        margin-left: 0rem;
        padding: 0rem 1rem;
    }
}

/*------------------------------------------------------------------------------*/
/*----------------------------------- TEXT -------------------------------------*/
/*------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    /* Sizing */
    margin:0;
    padding:0;
}

.page-title{
    /* Sizing */
    padding-bottom: 2rem;
    margin: 0;
    /* Styling */
    text-align: center;
    font-weight: 600;
    border-bottom: solid var(--border-color) var(--border-width);
}

.section-title{
    /* Sizing */
    padding: 2rem 0rem;
    margin: 0rem 1rem;
    /* Styling */
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: solid var(--border-color) var(--border-width);
}

/*------------------------------------------------------------------------------*/
/*-------------------------------- COMPONENTS ----------------------------------*/
/*------------------------------------------------------------------------------*/

.box{
    /* Sizing */
    padding:1rem;
    /* Styling */
    color: white;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 0.5rem;
}

.button{
    cursor: pointer;
    /* Sizing */
    padding: 1rem 1.2rem;
    /* Styling */
    font-size: 1rem;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.09);
    border-style: none;
}

.search-button{
    /* Sizing */
    margin-left: -3.2rem;
    padding: 1rem 1.2rem;
    /* Styling */
    border-radius: 0rem;
    background-color: rgba(255, 255, 255, 0);
    border-left: solid var(--border-color) var(--border-width);
}

.search-input-group {
    /* Positioning */
    display: flex;
    flex-direction: row;
}

.search-input{
    /* Sizing */
    padding: 0rem 3.8rem 0rem 1rem;
    width: 14rem;
    /* Styling */
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.09);
    border-style: none;
    border-radius: 0.5rem;
}

.search-input:focus {
    outline: 0;
}

@media(max-width:856px){
    .search-input-group{
        /* Positioning */
        justify-content: center;
    }
}

/*-------------------------------------------------*/
/*-------------------- USER CARD ------------------*/
/*-------------------------------------------------*/

.user-card{
    /* Positioning */
    display: flex;
    flex-direction: row;
    /* Sizing */
    width: 300px;
    padding: 1rem 0rem;
    margin: auto;
    /* Styling */
    border-bottom: solid var(--border-color) var(--border-width);
}

.user-image{
    /* Positioning */
    display: flex;
    /* Sizing */
    height: 90px;
    width: 90px;
    /* Styling */
    border-radius: 50%;
    overflow: hidden;
}

.user-information{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Sizing */
    padding-left: 0.5rem;
    width: 210px;
    /* Styling */
    font-size: 1rem;
    text-align: center;
    
}

.user-name{
    font-weight: 600;
}

@media(max-width:350px){
    .user-card{
        width: 270px;
    }

    .user-image{
        height: 80px;
        width: 80px;
    }

    .user-information{
        width: 190px;
        font-size: 0.8rem;
    }
}

/*-------------------------------------------------*/
/*------------------- PROFIL IMG ------------------*/
/*-------------------------------------------------*/

.profil-image{
    /* Positioning */
    display: flex;
    /* Sizing */
    margin-top: -141px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    /* Styling */
    border: 8px solid var(--primary-bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.profil-box{
    margin-top: calc(141px);
}

.profil-input{
    /* Sizing */
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    width: 70%;
    /* Styling */
    background-color: var(--primary-bg-color);
    border: solid var(--border-color) var(--border-width);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    
}

.profil-input:focus{
    outline: 0;
}

/*-------------------------------------------------*/
/*------------------- GLASS CARD ------------------*/
/*-------------------------------------------------*/

.glass-card{
    text-align: center;
    width: 300px;
    height: 500px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.5rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); /* rgba(255, 255, 255, 0.1) */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    overflow: hidden;
}


/*-------------------------------------------------*/
/*------------------ LOGIN STYLE ------------------*/
/*-------------------------------------------------*/

.login-content{
    /* Positioning */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100vw;
    min-height: 100vh;
    /* Z-Positioning */
    z-index: 1;
    /* Styling */
    overflow-x: hidden;
}

.login-card{
    /* Positioning */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Sizing */
    width: 90%;
    min-height: 0;
    padding: 1.5rem;
    /* Styling */
    word-wrap: break-word;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: solid 1px hsla(0, 0%, 100%, 0.5);
    border-left: solid 1px hsla(0, 0%, 100%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.1);
    overflow: hidden;
    /* Z-Positioning */
    z-index: 2;
}

.login-card-form{
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    /* Styling */
    color: white;
}

.login-input {
    /* Sizing */
    width: 80%;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0rem;
    /* Styling */
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
}

.login-input:focus{
    outline: 0;
}

.logo-col{
    /* Positioning */
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* Styling */
    color: white;
}

.login-logo{
    height: 200px;
}

.login-title{
    text-align: center;
    font-size: 2rem;
    font-family:'Neue Helvetica Light';
}

.login-links{
    font-family:'Neue Helvetica Thin';
    text-align: center;
}

.login-errors{
    color:#ffffff;
    font-family: 'Neue Helvetica Medium';
}

.link{
    text-decoration: none;
}

.link:hover{
    color: #39cbfb;
}

@media(max-width:870px){
    .login-logo{
        height: 150px;
    }
}

@media(max-width:450px){
    .login-logo{
        height: 100px;
    }

    .login-title{
        font-size: 1.3rem;
    }

    .link{
        font-size: 0.7rem;
    }

    .login-input {
        font-size: 0.7rem;
    }
}

.colored-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 0, 0));
    z-index: 0;
}

.colored-circle:nth-child(1){
    clip-path: circle(30% at 30% 10%);
}

.colored-circle:nth-child(2){
    clip-path: circle(25% at 100% 40%);
}

.colored-circle:nth-child(3){
    clip-path: circle(25% at 0% 100%);
}

.colored-circle:nth-child(4){
    clip-path: circle(10% at 50% 80%);
}

.white-border{
    border-left: solid var(--border-color) var(--border-width);
}

@media(max-width:670px){
    .white-border{
        border-left: none var(--border-color) var(--border-width);
        border-top: solid var(--border-color) var(--border-width);
    }
}
