{% load static %}
<!--Markdownify-->
{% load markdownify %}
<!--Header-->
{% include "header.html" with title="Epicerie" %}

<!--Body-->
<body>
    <!--Feedback Button-->
    {% include "feedback.html" %}

    <!--Sidenav-->
    {% include "sidenav.html" with active_link="epicerie" %}

    <!--Content-->
    <div class="content">

        <div class="content-main">
            <h3 class="page-title">Epicerie</h3>


            <div class="centered-div mt-2">
                <a href="{% url 'epicerie:panier' %}">Panier</a>
                <a href="{% url 'epicerie:vrac' %}">Vrac</a>
                <a href="{% url 'epicerie:recettes' %}">Recettes</a>
            </div>

            <div class="row">

                <div class="col-sm">
                    <div class="epicerie">
                        <div>
                            <div class = "epicerie-image">
                                <img class="image-centered" src="{% static 'assets/img/epicerie/basket.png' %}" alt="">
                            </div>
                        </div>
                        <div><span> Panier </span></div>
                        <a href="{% url 'epicerie:panier' %}" class="stretched-link"></a>
                    </div>
                </div><!--End of Column-->

                <div class="col-sm">
                    <div class="epicerie-link">
                        <div class="epicerie-link-content">
                            <div class="epicerie-link-image">
                                <img class="image-centered" src="{% static 'assets/img/epicerie/vrac.png' %}" alt="">
                            </div>
                        </div>
                        <div class="epicerie-link-title"><span> Vrac </span></div>
                        <a href="{% url 'epicerie:vrac' %}" class="stretched-link"></a>
                    </div>
                </div><!--End of Column-->

                <div class="col-sm">
                    <div class="epicerie-link">
                        <div class="epicerie-link-content">
                            <div class="epicerie-link-image">
                                <img class="image-centered" src="{% static 'assets/img/epicerie/recipe.png' %}" alt="">
                            </div>
                        </div>
                        <div class="epicerie-link-title"><span> Recettes </span></div>
                        <a href="{% url 'epicerie:recettes' %}" class="stretched-link"></a>
                    </div>
                </div><!--End of Column-->

            </div><!--End of Row-->
        </div>

    </div><!--End of Content-->

    <!--Scripts-->
    <!--Put this script before any react script to be able to reverse django urls in react-->
    <script src="{% url 'reverse_js' %}" type="text/javascript"></script>
    <script>
        window.react_mount = document.getElementById('epicerie');
    </script>
    <script src="{% static 'react/epicerie.bundle.js' %}"></script>
    <!--End of Scripts-->

</body>
